.about {
  display: flex;

  .card {
    .title {
      font-size: 36px;
      margin-bottom: 60px;
      text-align: left;
    }
    .content {
      line-height: 25px;
      margin-bottom: 48px;
      color: rgb(54, 60, 69);
    }
    .img_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        margin: 0 0.5rem 1rem;
      }
    }
  }
}